@model UserVM

<div class="form-group">
    <Label asp-for="FirstName"></Label>
    <input readonly class="form-control" asp-for="FirstName" />
</div>
<div class="form-group">
    <label asp-for="LastName"></label>
    <input readonly class="form-control" asp-for="LastName" />

</div>
<div class="form-group">
    <label asp-for="UserName"></label>
    <input readonly class="form-control" asp-for="UserName" />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />
</div>

